<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<h1> Instaclone</h1>
<body>
<form action = "">{% csrf token %}
 <div>
                <label for="username">Username: </label>
                <input id="username" type="text" name="username" value={{ username }}>
            </div>
<div>
                <label for="password">Password: </label>
                <input id="password" type="password" name="password" value={{ password }}>
            </div>
                <input type="submit" value="Login">
</form>
</body>
</html>